.setColor{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.bar{
    background-color: #eee;
    width: 100vw;
    position: fixed;
}

.colors{
    margin-top: 38px;
    background-color: #eee;
    width: 45px;
    height: 100vh;
    position: fixed;
}